<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="wms" ng-controller="wmsctrl">
<head>
    <base href="/admin">
    <title>Admin|WMS</title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="./assets/css/style.css" type="text/css" media="all" />


    <!--Angular Goes Here-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
    <script src="https://code.angularjs.org/1.6.4/angular-cookies.min.js"></script>
    <script language="javascript" type="text/javascript" src="/javascripts/controllers/index.js"></script>

</head>
<body ng-init="getLoginPage()">
<div ng-view></div>

</body>
</html>
