<div class="col-md-10" ng-init="getUserInfo()">
    <fieldset>
        <legend>Bank Account</legend>
        <form ng-submit="setPin()">
            <div class="form-group">
                <label class="col-md-2 control-label" for="text-field">Name:</label>
                <div class="col-md-10">
                    <input class="form-control" placeholder="Please enter your name" type="text" ng-model="user.name">
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label" for="text-field">Account No.</label>
                <div class="col-md-10">
                    <input class="form-control" ng-model="user.accountNumber" placeholder="Account Number" type="text">
                </div>

            </div>

            <div class="form-group">
                <label class="col-md-2 control-label">Set Pin</label>
                <div class="col-md-10">
                    <input class="form-control" ng-model="user.pin" placeholder="SET PIN" type="password">
                    <br>
                    <div ng-if="message.content">
                        <div class="alert alert-danger" ng-if="message.error"><b>{{message.content}}</b></div>
                        <div class="alert alert-success" ng-if="!message.error">
                            <b>{{message.content}}</b>
                        </div>
                    </div>
                    <div class="action">
                        <button type="submit" class="btn btn-primary signup">Submit</button>
                    </div>
                </div>


            </div>


            <div class="panel-body">
                <div id="timechart" style="width:100%;height:300px"></div>
            </div>
        </form>
</div>