<div class="col-md-10" ng-init="getUserInfo()">
    <fieldset>
        <legend>Bank Account : </legend>
        <form ng-submit="setPin()">
            <div class="form-group">
                <div class="col-md-10">
                    <p><b>Name</b> : <span>{{user.name | uppercase}}</span></p>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    <p><b>Account No. </b>: <span>{{user.accountNumber}}</span></p>

                </div>

            </div>

            <div class="form-inline-group">
                <div class="col-md-10">
                    <label for="pin">PIN</label>
                    <input class="form-control form-control-lg-4" id="pin" ng-model="user.pin" placeholder="SET PIN" type="password">
                    <br>
                    <div ng-if="message.content">
                        <div class="alert alert-danger" ng-if="message.error"><b>{{message.content}}</b></div>
                        <div class="alert alert-success" ng-if="!message.error">
                            <b>{{message.content}}</b>
                        </div>
                    </div>
                    <div class="action">
                        <button type="submit" class="btn btn-primary signup">Submit</button>
                    </div>
                </div>


            </div>


            <div class="panel-body">
                <div id="timechart" style="width:100%;height:300px"></div>
            </div>
        </form>
</div>