
<link href="./assets/vendors/form-helpers/css/bootstrap-formhelpers.min.css" rel="stylesheet">
<link href="./assets/vendors/select/bootstrap-select.min.css" rel="stylesheet">
<link href="./assets/vendors/tags/css/bootstrap-tags.css" rel="stylesheet">
<div class="col-md-12">
    <form class="content-box-large" ng-submit="applyLeave()">
        <div class="panel-heading">
            <div class="panel-title">Apply for Leave</div>

            <div class="panel-options">
                <a href="#" data-rel="collapse"><i class="glyphicon glyphicon-refresh"></i></a>
                <a href="#" data-rel="reload"><i class="glyphicon glyphicon-cog"></i></a>
            </div>
        </div>
        <div class="panel-body">

            <div>
                <label for="from">From : </label>
                <input type="date" id="from" class="bfh-datepicker" data-format="y-m-d" data-date="today" ng-model="leaveDates.from"></input>
            </div>
            <div>
                <label for="to">To : </label>
                <input type="date" id="from" class="bfh-datepicker" data-format="y-m-d" data-date="today" ng-model="leaveDates.to"></input>
            </div>

            <div ng-if="message.content">
                <div class="alert alert-danger" ng-if="message.error"><b>{{message.content}}</b></div>
                <div class="alert alert-success" ng-if="!message.error">
                    <b>{{message.content}}</b>
                </div>
            </div>
            <div class="action">
                <button class="btn btn-primary signup"type="submit" >Apply</button>
            </div>
        </div>


    </form>
</div>

